.check{
    width: 10%;
} 
.hotelId{
    width: 10%;
}
.hotelPlace{
    width: 20%;
}
.hotelName{
    width: 50%;
}
.isUse{
    width: 10%;
}

.addHotel_btn{
    justify-content: space-between;
}

.addHotelCount{
    letter-spacing: 2px;
}