*{
    box-sizing: border-box;
    font-family: 'Roboto','Noto Sans TC','Raleway','Helvetica','Arial,sans-serif';
  }
  
  html,body,.main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &.is-open{
        height: 100vh;
        overflow: hidden;
    }
  }
  
  .header{
    width: 100%;
  }
  
  .wrap{
    width: 100%;
    min-height: calc(100vh - 100px ); /*減去footer高度*/
  }
  
  .content{
    @media #{$xxxl-bp} {
      width: 1440px;
      }
    @media #{$xxl-bp} {
      width: 1100px;
    }
    width: 100%;
    padding: 0px 15px;
    margin: auto;
  }
  
  .footer {
    width: 100%;
    height: 100px; /*設定footer本身高度*/
    }
  
  img {
    vertical-align: middle;
  }
  
  a {
    color: #000;
    text-decoration:none;
    cursor:pointer;
    &:hover {
        text-decoration:none;
    }
  }
  
  ol,
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  li {
    list-style: none;
  }
  
  .clearFloat {
    clear: both;
  }
  
  button{
    &:hover,&:focus{
      outline:0 transparent;
      box-shadow: none !important;
  }
  }
  textarea,input,select{
    &:hover,&:focus{
        outline:0 transparent;
        border:1px solid #ced4da !important;
        box-shadow: none !important;
    }
  }