<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Draggable -->
    <script src="https://www.itxst.com/package/sortable/sortable.min.js"></script>
    <!-- alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <header class="header">
    </header>
    <div class="wrap indexWrap relative">
        <!--------------------選擇飯店-------------------->
        <ul class="content nav_wrap">
            <li class="nav_item" @click="website = 0" :class="{websiteActive:website==0}">飯店總覽</li>
            <li class="nav_item" @click="website = 1" :class="{websiteActive:website==1}">14 holidays</li>
            <li class="nav_item" @click="website = 2" :class="{websiteActive:website==2}">防疫旅行家</li>
            <li class="nav_item" @click="website = 3" :class="{websiteActive:website==3}">tourbobo行銷頁</li>
        </ul>
        <div class="wrap index_content">
            <!--------------------飯店總覽-------------------->
            <div class="content" v-show="website == 0">
                <!--------------------分類標題-------------------->
                <div class="inner">
                    <span>分類標題：</span>
                    <span class="restaurant_type_slesce">
                        <select class="form-select">
                            <option value="" selected>台北防疫旅館首選</option>
                            <option value="">台中防疫旅館首選</option>
                        </select>
                    </span>
                    <span class="restaurant_btn">
                        <a href="./classTitle.html" class="blueBorder_btn" >排序/編輯</a>
                        <!--------------------新增標題modal-------------------->
                        <a href="" class="blue_btn" data-bs-toggle="modal" data-bs-target="#addRestaurantTitle">新增標題</a>
                        <div class="modal fade" id="addRestaurantTitle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addRestaurantTitleLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="addRestaurantTitleLabel">新增分類標題</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="postSetting_item">
                                        <span class="postSetting_title">選擇類別</span>
                                        <span class="addRestaurantTitle_item_select">
                                            <select class="form-select">
                                                <option value="" selected>地區</option>
                                                <option value="">其他</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="postSetting_item">
                                        <span class="postSetting_title">標題名稱</span>
                                        <span class="addRestaurantTitle_item_select">
                                            <input type="text" class="form-control" placeholder="請輸入分類標題名稱，最多二十個字" maxlength="20"  @input = "descInput" v-model="addRestaurantTitle">
                                            <span class="hotelInfoEditMainTextNum top">{{remnant}}/20</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="" class="blueBorder_btn" data-bs-dismiss="modal">取消</a>
                                    <a href="" class="blue_btn">新增</a>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!--------------------新增標題modalEnd-------------------->
                    </span>
                </div>
                <!--------------------飯店列表標題-------------------->
                <div class="inner between">
                    <span class="flex">
                        <span>飯店列表：</span>
                        <span class="restaurant_list_text">
                            <span class="restaurant_list_title">台北防疫旅館首選</span>
                            <span class="restaurant_list_desc">開關按鈕可開啟/隱藏飯店，進入編輯可更改飯店資料</span>
                        </span>
                    </span>
                    <!--------------------新增飯店modal-------------------->
                    <a href="" class="blueBorder_btn" data-bs-toggle="modal" data-bs-target="#addhotelmodal"><i class="bi bi-plus"></i>新增飯店</a>
                    <div class="modal fade" id="addhotelmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addhotelmodalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="addhotelmodalLabel">新增飯店</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--------------------新增飯店modal搜尋新增飯店-------------------->
                                <div class="inner">
                                    <div class="input-group search-area">
                                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                                        <input type="text" class="form-control" placeholder="搜尋飯店名稱或ID" v-model="addHotelSearch">
                                    </div>
                                </div>
                                <!--------------------新增飯店modal新增飯店列表-------------------->
                                <ul class="inner">
                                <!--------------------新增飯店modal新增飯店列表title-------------------->
                                    <li class="restaurant_list_item restaurant_list_item_title">
                                        <span class="check"></span>
                                        <span class="hotelId">ID</span>
                                        <span class="hotelPlace dropdown-toggle" id="hotelPlace" data-bs-toggle="dropdown" aria-expanded="false">地區</span>
                                        <ul class="dropdown-menu" aria-labelledby="hotelPlace">
                                            <li class="select_item select_item_blue">台北</li>
                                            <li class="select_item select_item_blue">台中</li>
                                            <li class="select_item select_item_blue">高雄</li>
                                        </ul>
                                        <span class="hotelName">飯店名稱</span>
                                        <span class="isUse"></span>
                                    </li>
                                <!--------------------新增飯店modal新增飯店列表內容-------------------->
                                    <ul class="inner">
                                        <li class="restaurant_list_item" v-for="i in searchAddHotelData" :key="i.id">
                                            <span class="check">
                                                <input class="form-check-input" type="checkbox" value="" v-model="i.isCheck">
                                            </span>
                                            <span class="hotelId">{{i.id}}</span>
                                            <span class="hotelPlace">{{i.place}}</span>
                                            <span class="hotelName">{{i.name}}</span>
                                            <span class="isUse">
                                                <p v-if="i.isCheck">已使用</p>
                                                <p v-else>未使用</p>
                                            </span>
                                        </li>
                                    </ul>
                                </ul>
                                <!--------------------新增飯店modal新增飯店列表End-------------------->
                            </div>
                            <div class="modal-footer addHotel_btn">
                                <span class="addHotelCount">已選{{addHotelCount}}間</span>
                                <span class="flex">
                                    <a href="" class="blueBorder_btn" data-bs-dismiss="modal">取消</a>
                                    <a href="" class="blue_btn">新增</a>
                                </span>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--------------------新增飯店modalEnd-------------------->
                </div>
                <!--------------------飯店列表清單-------------------->
                <div class="restaurant_list">
                    <div class="inner between">
                        <span class="restaurant_list_title">飯店列表</span>
                        <span>已開啟共 {{hotelIsOpenLength}} 間</span>
                    </div>
                    <div class="inner between">
                        <div class="input-group search-area">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" placeholder="搜尋飯店名稱" v-model="hotelSearch" @keyup.enter=>
                        </div>
                        <span class="blueBorder_btn" @click="IsCheckBoxFun = !IsCheckBoxFun">多選</span>
                    </div>
                    <ul class="inner">
                        <!--------------------列表標題-------------------->
                        <li class="restaurant_list_item restaurant_list_item_title">
                            <span class="sort">排序</span>
                            <span class="num">序號</span>
                            <span class="name">飯店名稱</span>
                            <span class="option dropdown-toggle" type="button" id="hotelPlace" data-bs-toggle="dropdown" aria-expanded="false">全部</span>
                            <ul class="dropdown-menu" aria-labelledby="hotelPlace">
                                <li class="select_item select_item_blue" @click="visibility='all'">全部</li>
                                <li class="select_item select_item_blue" @click="visibility='isOpenTrue'">已開啟</li>
                                <li class="select_item select_item_blue"  @click="visibility='isOpenFalse'">已隱藏</li>
                            </ul>
                            <span class="edit"></span>
                            <span class="other"></span>
                        </li>
                        <!--------------------列表內容-------------------->
                        <ul class="inner" ref="sortable" id="sortableList">
                            <li class="restaurant_list_item relative" v-for="(li,index) in searchHotelData" :key="li.id" :data-id="li.id">
                                <span class="sort move" v-if="!IsCheckBoxFun"><img src="./img/icon-24-sort.svg" alt=""></span>
                                <span v-else class="sort"><input class="form-check-input" type="checkbox" value="" v-model="li.isCheck"></span>
                                <span class="num"><span class="numBox" >{{li.index+1}}</span></span>
                                <span class="name">{{li.name}}</span>
                                <span class="option">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" @change="changeIsOpen(index)" v-model="li.isOpen">
                                    </div>
                                </span>
                                <span class="edit"><a href="./hotel_info.html">編輯</a></span>
                                <span class="dropdown other">
                                    <a class="" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="select_item select_item_blue"  data-bs-toggle="modal" data-bs-target="#moveModel">移動</li>
                                        <li class="select_item select_item_blue"  data-bs-toggle="modal" data-bs-target="#copyModel">複製</li>
                                        <li class="select_item other_select_item_delbtn" @click="del(index)">刪除</li>                          
                                    </ul>
                                    <!-- 複製 -->
                                    <div class="modal fade" id="copyModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="copyModelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="copyModelLabel">複製到以下分類：</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="title textLeft">其他</p>
                                              <div class="selectBtn">
                                                    <span v-for="i in selectBtnOther" @click="toggleStyle">{{i.name}}</span>
                                              </div>
                                              <p class="title textLeft">地區</p>
                                              <div class="selectBtn">
                                                    <span v-for="i in selectBtnArea" @click="toggleStyle">{{i.name}}</span>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="" class="blue_btn">確定</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- 移動 -->
                                     <div class="modal fade" id="moveModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="moveModelLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="moveModelLabel">移動到以下分類：</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <p class="title textLeft">其他</p>
                                              <div class="selectBtn">
                                                    <span v-for="i in selectBtnOther" @click="toggleStyle">{{i.name}}</span>
                                              </div>
                                              <p class="title textLeft">地區</p>
                                              <div class="selectBtn">
                                                    <span v-for="i in selectBtnArea" @click="toggleStyle">{{i.name}}</span>
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="" class="blue_btn">確定</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </ul>
                    </div>
                    <div class="sendArea">
                        <div class="content flex" v-if="!IsCheckBoxFun">
                            <span class="blue_btn">儲存</span>
                            <span class="blueBorder_btn">取消</span>
                        </div>
                        <div class="content flex" v-else>
                            <span class="blueBorder_btn" data-bs-toggle="modal" data-bs-target="#addModal">新增至</span>
                            <span class="delBtn" @click.stop="multipleChoiceDel()">刪除</span>
                            <span class="delBtn" @click.stop="multipleChoiceNotIsOpen()">隱藏</span>
                        </div>
                    </div>
                    <!-- 新增至 -->
                    <div class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="addModalLabel">新增飯店到：</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="inner">
                                    <span>行銷網站：</span>
                                    <span class="restaurant_type_slesce">
                                        <select class="form-select">
                                            <option value="" selected>14 holidays</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="inner">
                                    <span>分類標題：</span>
                                    <span class="restaurant_type_slesce">
                                        <select class="form-select">
                                            <option value="" selected>台北防疫旅館首選</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="blue_btn" @click.prevent="addModalInfo">確定</a>
                            </div>
                          </div>
                        </div>
                      </div>
                <!--------------------飯店列表清單結束-------------------->
            </div>
            <!--------------------14天飯店-------------------->
            <div class="content" v-show="website == 1">

                <div class="website-content">
                    14 holidays
                </div>
            </div>
            <!--------------------防疫旅行家-------------------->
            <div class="content" v-show="website == 2">

                <div class="website-content">
                    防疫旅行家
                </div>
            </div>
            <!--------------------tourbobo行銷頁-------------------->
            <div class="content" v-show="website == 3">

                <div class="website-content">
                    tourbobo行銷頁
                </div>
            </div>


        <!--------------------tabs父層-------------------->   
        </div>
    <!--------------------root-------------------->
    </div>
    <script>
        new Vue({
            el: ".indexWrap",
            data() {
                return {
                    visibility:'all',
                    IsCheckBoxFun:false,
                    remnant:20,//新增飯店標題字數限制
                    addRestaurantTitle:'',//新增飯店標題
                    website: 0,//選擇飯店頁面
                    addHotelSearch:'',//新增飯店搜尋功能
                    addHotel:[//新增飯店列表
                        {id:'1',name:'有園飯店-台北中山',isCheck:false,place:'台北'},
                        {id:'2',name:'雀客快捷台中一中',isCheck:true,place:'台中'},
                        {id:'3',name:'雀客藏居-台南永康',isCheck:true,place:'台南'},
                    ],
                    hotelSearch:'',//飯店搜尋功能
                    hotel:[//飯店列表
                        {id:'0',name:'有園飯店-台北中山',isOpen:false,index:0,isCheck:false},
                        {id:'1',name:'台北防疫旅館 [A 館]',isOpen:true,index:1,isCheck:true},
                        {id:'2',name:'雀客旅館-台北車站',isOpen:true,index:2,isCheck:false},
                    ],
                    selectBtnOther:[//複製按鈕
                        {id:'0',name:'tourbobo專屬房源'},
                        {id:'1',name:'奢華星級專區'},
                        {id:'2',name:'熱銷首選專區'},
                        {id:'3',name:'快樂小資專區'},
                    ],
                    selectBtnArea:[//複製按鈕
                        {id:'0',name:'新北防疫旅館首選'},
                        {id:'1',name:'桃園防疫旅館首選'},
                        {id:'2',name:'新竹防疫旅館首選'},
                        {id:'3',name:'台中防疫旅館首選'},
                        {id:'4',name:'台南防疫旅館首選'},
                        {id:'5',name:'屏東防疫旅館首選'},
                    ],

                }
            },
            mounted(){
                //飯店清單拖移
                Sortable.create(this.$refs.sortable,{
                    handle: ".move",
                    animation: 1000,
                    onUpdate: this.sorted,
                })
            },
            methods: {
                toggleStyle(event){
                    event.target.classList.toggle("togglestyle");
                },
                addModalInfo(){
                    $('#addModal').modal('hide')
                    swal({
                        icon: "success",
                        title:"飯店已使用至以下網站：",
                        text:`14 holidays\n防疫旅行家\ntourbobo行銷頁\n`,
                        buttons:'完成'
                    });
                },
                //多選隱藏
                multipleChoiceNotIsOpen(){
                    let _this = this;
                    document.body.classList.add('is-open')
                    swal({
                            title:"隱藏此飯店?",
                            icon:"warning",
                            text:`確定隱藏嗎？\n\n注意：\n此飯店所有資訊將不會在前台顯示。`,
                            buttons: ["保留", "隱藏此飯店"],
                            dangerMode: true,
                        }).then((willDelete)=>{
                            if (willDelete) {
                               _this.hotel.forEach(i=>{
                                  if(i.isCheck){
                                    return i.isOpen= false
                                  }
                                   }
                               )
                                swal("你已成功隱藏", {
                                icon: "success",
                                buttons:'完成'
                            });
                        } else{
                            _this.hotel.forEach(i=>{
                                if(i.isCheck){
                                    return i.isOpen = true
                                  }
                               })
                            }
                        })
                          
                },
                //多選刪除
                multipleChoiceDel(){
                    let _this = this;
                    document.body.classList.add('is-open')
                    swal({
                            title:"刪除此飯店?",
                            icon:"warning",
                            text:`確定刪除嗎？\n\n注意：\n刪除後，未來欲新增此飯店，\n所有預帶資料即為PMS後台原始資料`,
                            buttons: ["保留", "刪除此飯店"],
                            dangerMode: true,
                        }).then((willDelete)=>{
                            if (willDelete) {
                                this.hotel = this.hotel.filter(item=>item.isCheck == false)
                                swal("你已成功刪除", {
                                icon: "success",
                                buttons:'完成'
                            });
                        } else{
                                return;
                            }
                        })        
                },
                //倒計數title
                descInput(){
                    var txtVal = this.addRestaurantTitle.length;
                    this.remnant = 20-txtVal;
                },
                //計算序號
                sorted(evt) {
                    const orderList = []
                    const children = this.$refs.sortable.children;
                    for(let i=0;i<children.length;i++){
                        const ch = children[i]
                        const id = ch.getAttribute("data-id")
                        this.hotel.find(li => li.id === id).index = i
                    }
                },
                //複製
                copy(index){
                    let newObj ={
                        id:String(this.hotel.length),
                        name:this.hotel[index].name,
                        isOpen:false,
                        index:this.hotel.length
                    };
                    this.hotel.splice(index,0,newObj);
                },
                //刪除
                del(index){
                    document.body.classList.add('is-open')
                    let hotelName = this.hotel[index].name;
                    swal({
                        title:"刪除此飯店?",
                        icon:"warning",
                        text:`確定刪除〖 ${hotelName}〗嗎？\n\n注意：\n刪除後，未來欲新增此飯店，\n所有預帶資料即為PMS後台原始資料`,
                        buttons: ["保留", "刪除此飯店"],
                        dangerMode: true,
                    }).then((willDelete)=>{
                        if (willDelete) {
                            this.hotel.splice(index,1)
                            swal("你已成功刪除", {
                            icon: "success",
                            buttons:'完成'
                        });
                            document.body.classList.remove('is-open')
                    }});
                },
                //監聽隱藏
                changeIsOpen(index){
                    document.body.classList.add('is-open')
                    let hotelName = this.hotel[index].name;
                    if(this.hotel[index].isOpen === false){
                        swal({
                            title:"隱藏此飯店?",
                            icon:"warning",
                            text:`確定隱藏〖 ${hotelName}〗嗎？\n\n注意：\n此飯店所有資訊將不會在前台顯示。`,
                            buttons: ["保留", "隱藏此飯店"],
                            dangerMode: true,
                        }).then((willDelete)=>{
                            if (willDelete) {
                                this.hotel[index].isOpen = false;
                                swal("你已成功隱藏", {
                                icon: "success",
                                buttons:'完成'
                            });
                        }
                            else{
                                this.hotel[index].isOpen = true;
                            }
                            document.body.classList.remove('is-open')
                        }
                        );
                    }else{
                        swal("你已開啟飯店", {
                                icon: "success",
                                buttons:'完成'
                        });
                            document.body.classList.remove('is-open')
                    }
                
                },
            },
            computed:{
                //計算出公開有幾間
                addHotelCount(){
                    let count = 0;
                    this.addHotel.forEach(i=>{
                        if(i.isCheck == true){
                            count ++
                        }
                    })
                    return count;
                },
                hotelIsOpenLength(){
                        let count = 0;
                        this.hotel.forEach(i=>{
                            if(i.isOpen == true){
                                count ++
                            }
                        })
                        return count;
                },
                //搜尋飯店
                searchHotelData() {
                        var search = this.hotelSearch;
                        if (search) {
                                return this.hotel.filter(function (h) {
                                    return Object.keys(h).some(function (key) {
                                        return String(h[key]).toLowerCase().indexOf(search) > -1
                                    })
                                })
                            }
                        
                        //@clickSelect
                        if (this.visibility == 'all') {
                                return this.hotel;
                            } else if (this.visibility == 'isOpenTrue') {
                                var arr = []; //存放未完成內容
                                this.hotel.forEach(item => {
                                if (item.isOpen) {
                                    arr.push(item)
                                }
                                })
                                return arr;
                            } else if (this.visibility == 'isOpenFalse') {
                                var arr = [];
                                this.hotel.forEach(item => {
                                if (!item.isOpen) {
                                    arr.push(item)
                                }
                                })
                                return arr;
                            }                      
                    },
                //搜尋新增飯店
                searchAddHotelData:function () {
                        var search = this.addHotelSearch;
                        if (search) {
                            return this.addHotel.filter(function (h) {
                                return Object.keys(h).some(function (key) {
                                    return String(h[key]).toLowerCase().indexOf(search) > -1
                                })
                            })
                        }
                        return this.addHotel;
                    }
        }

        })
    </script>
</body>

</html>